body{
	background-color: #ffccff;
}

h1{
	text-align: center;
	margin-bottom:15px;
}

*{
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
}

.bgc1{
	background-color:  #cce6ff;
}

.bgc2{
	background-color:  #ccccff;
}

.bgc3{
	background-color:  #ccffcc;
}

p{
	font-size: 125%;
	position:absolute;
	border: 1px solid black;
	width: min-content;
	min-width: min-intrinsic;
	margin:0px;
	top:-3px;
	right: -3px;
	padding:5px;
	font-family:  Helvetica;
}

#container{
	position:relative;

}

div{
	position:relative;
	margin: 10px;
	padding: 10px;
}

@media	(min-width: 992px){
	#div1{
	margin:5px;
	border: 1px solid black;
	float:left;
	width: 32%;
	padding: 10px ;
	padding-top: 41px;
}

	#div2{
	margin:5px;
	border: 1px solid black;
	float:left;
	width: 32%;
	padding: 10px ;
	padding-top: 41px;
	
}

	#div3{
	margin:5px;
	border: 1px solid black;
	float:left;
	width: 32%;
	padding: 10px ;
	padding-top: 41px;

	}

}

@media	(min-width: 768px) and (max-width: 991px){

	#div1{
	margin:5px;
	border: 1px solid black;
	float:left;
	width: 48%;
	padding: 10px ;
	padding-top: 41px;
}

	#div2{
	margin:5px;
	border: 1px solid black;
	float:left;
	width: 48%;
	padding: 10px ;
	padding-top: 41px;
	
}

	#div3{
	margin:5px;
	border: 1px solid black;
	float:left;
	width: calc(96% + 10px);
	padding: 10px ;
	padding-top: 41px;

	}

}


@media (max-width: 767px){
	#div1{
	margin:5px;
	border: 1px solid black;
	float:left;
	width: 100%;
	padding: 10px ;
	padding-top: 41px;
}

	#div2{
	margin:5px;
	border: 1px solid black;
	float:left;
	width: 100%;
	padding: 10px ;
	padding-top: 41px;
	
}

	#div3{
	margin:5px;
	border: 1px solid black;
	float:left;
	width: 100%;
	padding: 10px ;
	padding-top: 41px;

	}

}
